*~
obj/
*~
*#*
sparse_test
linear_solver_test
vector_test
ad_test
forward_ad-test
forward_ad-verlet
forward_ad-bubble
forward_ad-dynamics
forward_ad-jacobian
auto_differentiation-dynamics
auto_differentiation-lagrangian
auto_differentiation-pendulum
bubble
*.xyz
*.gif
*.Rhistory
*.csv
dynamics
chebyshev_test
lu_test